* {
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 375px) {
   .column {
        display: flex;
        flex-direction: column;
   }

   .ios {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: hsl(171, 66%, 44%);
    color: white;
    padding: 20px;
    border-radius: 50px;
    font-weight: 600;
    }

   .mac {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: hsl(233, 100%, 69%);
    color: white;
    padding: 20px;
    border-radius: 50px;
    font-weight: 600;
   }

    #container {
        display: flex;
        height: 100vh;
    	width: 100vw;
        flex-direction: column;
        align-content: center;
        font-family: 'Bai Jamjuree', sans-serif;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        align-content: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .header_image {
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255 0)), url('./images/bg-header-mobile.png');
    }

    .info {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .info img {
        width: 300px;
        align-self: center;
    }

	#tools img {
		width: 100px;
	}

	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
        align-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: grey
	}

    .footer_links {
        text-decoration: none;

    }
}

